.language-plantuml
  background-color: transparent !important;

  .line-numbers-wrapper
    display: none;

  &.line-numbers-mode
    &::after
      display: none;

    pre
      padding: 1.25rem 1.5rem !important;

  .plantuml-error
    margin: 3rem 0;
    text-align: center;
