// colors
$accentColor = #04AE62;
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #698C7F

// layout
$navbarHeight = 4rem
$sidebarWidth = 17.5rem
$tocWidth = 11.5rem
$contentWidth = 740px
$sidebarTop = 3rem
$friendListHeight = 28.38rem
$copyrightHeight = 4rem
$sidebarIndent = 3rem;
$mobileSidebarWidth = $sidebarWidth * 0.82;

// responsive breakpoints
$MQNarrow = 1000px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile

@import '~@temp/palette.styl'
